# Core
Django==5.2.10
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
django-cors-headers==4.9.0

# WebSockets / ASGI
channels==4.3.2
daphne==4.2.1
asgiref==3.11.0
channels_redis==4.3.0
redis==7.1.0

# Cloudinary
cloudinary==1.44.1
django-cloudinary-storage==0.3.0

# Environment variables
python-decouple==3.8

# Optional: image processing (only if needed locally)
pillow==12.1.0